<form action="/books/create" method="POST">

    <label>Titulo</label>
    <input type="text" name="title" />
    <hr>
    <label>Autor</label>
    <input type="text" name="author" />
    <hr>
    <label>Descripcion</label>
    <input type="text" name="description" />
    <hr>
    <label>Rating</label>
    <input type="number" name="rating" />
    <hr>
    <button type="submit">Crear libro</button>

</form>