<h1>LISTADO DE LIBROS</h1>

<a href="/books/create"> Crear Libro </a>

<ul>
    {{#each data}}
    <li>
         <h1>{{this.title}}</h1>
        <a href="/books/{{this._id}}">Ver detalles</a>
        <a href="/books/{{this._id}}/edit">Editar</a>

        <form method="POST" action="/books/{{this._id}}/delete">
        
            <button>Borrar</button>

        </form>
    </li>
    {{/each}}

</ul>